<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzn.mapper.UserStudentMapper">

    <resultMap id="BaseResultMap" type="com.zzn.pojo.user.student.UserStudent">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="sId" column="s_id" jdbcType="VARCHAR"/>
        <result property="sName" column="s_name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="graduationYear" column="graduation_year" jdbcType="VARCHAR"/>
        <result property="college" column="college" jdbcType="CHAR"/>
        <result property="major" column="major" jdbcType="CHAR"/>
        <result property="phone" column="phone" jdbcType="CHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>

        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="DictResultMap" type="com.zzn.pojo.user.student.UserStudentWithDict">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="sId" column="s_id" jdbcType="VARCHAR"/>
        <result property="sName" column="s_name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="graduationYear" column="graduation_year" jdbcType="VARCHAR"/>
        <result property="college" column="college" jdbcType="CHAR"/>
        <result property="major" column="major" jdbcType="CHAR"/>
        <result property="phone" column="phone" jdbcType="CHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="TINYINT"/>
        <association property="dictCollege" javaType="com.zzn.pojo.dict.DictCollege">
            <result property="college" column="cCollege"/>
            <result property="description" column="cDescription"/>
        </association>
        <association property="dictGender" javaType="com.zzn.pojo.dict.DictGender">
            <result property="gender" column="gGender"/>
            <result property="description" column="gDescription"/>
        </association>
        <association property="dictMajor" javaType="com.zzn.pojo.dict.DictMajor">
            <result property="major" column="mMajor"/>
            <result property="description" column="mDescription"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,s_id,s_name,
        gender,password,graduation_year,
        college,major,phone,
        email,had_topic,topic_name,
        topic_id,version,deleted,
        updated_by,updated_time,login_time,
        login_ip,user_type
    </sql>

    <sql id="Dict_Sql">
        SELECT id,
               s_id,
               s_name,
               s.gender,
               `password`,
               graduation_year,
               s.college,
               s.major,
               phone,
               email,
               updated_by,
               updated_time,
               login_time,
               login_ip,
               user_type,
               c.college     AS cCollege,
               c.description AS cDescription,
               m.major       AS mMajor,
               m.description AS mDescription,
               g.gender      AS gGender,
               g.description AS gDescription
        FROM user_student s,
             dict_college c,
             dict_major m,
             dict_gender g
        WHERE s.college = c.college
          AND s.major = m.major
          AND s.gender = g.gender
          AND s.deleted = 1
    </sql>
    <select id="getOneBySidAndPassword" resultMap="DictResultMap">
        <include refid="Dict_Sql"/>
        and s.s_id=#{sId}
        and s.password=#{password}
    </select>
    <select id="getOneBySid" resultMap="DictResultMap">
        <include refid="Dict_Sql"/>
        and s.s_id=#{sId}
    </select>
    <select id="pageByCondition" resultMap="DictResultMap">
        <include refid="Dict_Sql"/>
        and s.college=#{college}

        <if test="sId!=null and sId!=''">
            and s.s_id like concat(#{sId},'%')
        </if>

        <if test="sName!=null and sName!=''">
            and s.s_name like concat('%',#{sName},'%')
        </if>

        <if test="major!=null and major!=''">
            and s.major = #{major}
        </if>
        ORDER BY id
        limit #{start},#{size}
    </select>


    <select id="listByCollege" resultMap="DictResultMap">
        <include refid="Dict_Sql"/>
        and s.college=#{college}
        ORDER BY id
    </select>

    <select id="getYearListByCollege" resultType="java.lang.String">
        SELECT DISTINCT graduation_year
        FROM `user_student`
        WHERE college = #{college}
          and deleted = 1
    </select>

    <select id="exportMsgByCondition" resultMap="DictResultMap">
        <include refid="Dict_Sql"/>
        and s.college=#{college}
        <if test="major!=null and major!='' ">
            and s.major = #{major}
        </if>
        <if test="year!=null and year!='全部' and year!='' ">
            and s.graduation_year = #{year}
        </if>
        limit 0,#{number}
    </select>


</mapper>
